body {
  background: url("./assets/bg1.jpg");
  position: fixed;  
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat; 
}

.melting {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  top: -2%;
  left: -2%;
  right: -20%;
  width: 120%;
  height: 324px;
  background: url(./assets/melting.png);
  z-index: 1;
  opacity: 0.4;
}

.quote-mark1 {
  position: absolute;
  color: rgb(0, 204, 255);
  font-size: 90px;
  top: 40%;
  left: 74%;
  width: 30px;
  z-index: 1;
  font-family: fantasy;
  transform: rotate(-30deg);
}

.quote-mark2 {
  position: absolute;
  color: rgb(0, 204, 255);
  font-size: 90px;
  top: 30%;
  left: 134%;
  width: 30px;
  transform: rotate(15deg);
  z-index: 1;
  font-family: fantasy;
}

.logo1 {
  position: absolute;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  top: 70%;
  left: 80%;
  width: 268px;
  height: 70px;
  background: url(./assets/logo1.png);
  background-blend-mode: overlay;
  background-color: rgb(66, 218, 210);
  transform: rotate(-7deg);
  opacity: 0.5;
}

.logo2 {
  position: absolute;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  top: 55%;
  left: 80%;
  width: 280px;
  height: 70px;
  background: url(./assets/logo2.png);
  background-blend-mode: overlay;
  background-color: rgb(201, 33, 103);
  transform: rotate(-12deg);
  opacity: 0.8;
}

.diamond {
  position: absolute;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  top: 58%;
  left: 247%;
  width: 50px;
  height: 50px;
  background: url(./assets/diamond2.png);
}

  #carousel {
  width: 500px;
  height: 600px;
  background: url("./assets/t-shirt1.png");
  background-size: cover;
  background-repeat: no-repeat; 
  text-align: center;
  position: absolute;
  opacity: 0.8;
  background-blend-mode: overlay;
  background-color: blueviolet;
  margin: 10px;
  margin-top: 11px;
  margin-left: 12px;
}
  
#slides { 
  overflow: hidden;
  margin-left: 10px;
  margin-top: 100px; 
  width: 500px !important;
  height: 250px;
}
  
#slides ul {
  list-style: none;
}
  
#slides li {
  float: right;
  font-family: sans-serif;
}

.quote-phrase, .quote-author {
  font-family: sans-serif;
  font-weight: bolder; 
  justify-self: center;
  vertical-align: middle;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin-left: -40px;
}
  
.quote-phrase {
  font-size: 30px;
  color: rgb(235, 18, 90);
}
  
.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #b14943;
  font-weight: 400;
  height: 30px;
}
  
.quoteContainer {
  display: grid;
  left: 500%; 
}